.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #4A9E00 !important;
  border-bottom: 2px solid #4A9E00;
}

.sticky li::after {
  background-color: white !important;
}

.sticky a {
  color: #ebe8e8 !important;
}

.sticky a:hover {
  color: white !important;
}

.sticky .navbar.responsive li {
  background-color: #4A9E00;
  border: 0;
}

.sticky .navbar.responsive li:hover {
  border-bottom: 1.5px solid white !important;
}

.sticky .navbar.responsive {
  width: 100%;
  position: relative;
  grid-area: nav;
  display: block;
  margin: 0 auto;
}

body, header {
  display: initial;
}

.logo {
  display: inline-block;
  margin-left: 3rem;
  margin-top: 2rem;
}

.logo img {
  max-width: 23rem;
}

#logobig {
  width: 100%;
  height: 35rem;
  background: url(../images/logomd.png) no-repeat center center;
  background-size: contain;
  margin-top: 7rem;
  margin-bottom: 8rem;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  z-index: 2;
}

.navbar {
  list-style-type: none;
  margin-right: 4rem;
  padding: 0;
  float: right;
  margin-top: 1.5rem;
}

.navbar li {
  display: inline-block;
  margin: 0.5rem;
  position: relative;
}

.navbar li::after {
  content: '';
  display: block;
  height: 3px;
  margin: .5rem auto;
  background-color: #4A9E00;
  position: absolute;
  top: 2.5rem;
  width: 0%;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.navbar li:hover::after {
  width: 100%;
}

.navbar li a {
  display: block;
  color: #494d4a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 0.5rem 0;
  text-transform: uppercase;
  width: 4rem;
}

.icon {
  display: none;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 7rem;
  text-align: center;
}

.company .item {
  width: 60%;
  text-align: center;
  margin: 3rem auto;
}

.company .p1 p {
  margin-top: 3.5rem;
}

.company .p2 {
  margin-top: 2rem;
}

.company .p2 p {
  margin-top: 3.5rem;
}

.h1 {
  margin-bottom: 50px;
  position: relative;
  color: grey;
}

.h1::after {
  content: '';
  display: block;
  height: 2px;
  margin: 1.5rem auto;
  background-color: #4A9E00;
  position: absolute;
  top: 2.5rem;
  width: 100%;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.h1:hover {
  color: #4A9E00;
}

.h1:hover::after {
  width: 0%;
}

.head1 {
  margin: 5rem auto;
  position: relative;
  color: grey;
  text-align: center;
}

.head1::after {
  content: '';
  display: block;
  height: 2px;
  margin: 1.5rem auto;
  background-color: #4A9E00;
  position: absolute;
  top: 2.5rem;
  width: 100%;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.head1:hover {
  color: #4A9E00;
}

.head1:hover::after {
  width: 0%;
}

.team {
  display: block;
  margin: 8rem auto 15rem;
}

.team div {
  margin: 8rem auto;
  text-align: left;
  width: 50%;
}

.service {
  margin-top: 15rem;
}

.service-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  margin-left: 23%;
  margin-right: 25%;
  margin-bottom: 12rem;
}

.service-container .item {
  margin: 2rem 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ion-icon {
  margin-top: 1rem;
  margin-right: .2rem;
  font-size: xx-large;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item h3 {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
}

.contact-container {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15%;
  margin-right: 20%;
  height: 50rem;
}

.mailicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mailicon div {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
}

#mailform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mailform #name, #mailform #email, #mailform #tel, #mailform textarea {
  width: 80%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
}

#mailform input[type=submit] {
  background-color: #4A9E00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  width: 20%;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-item div {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 0.5rem;
}

.contact-item div div {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
}

.contact-item iframe {
  width: 90%;
  height: 90%;
}

footer {
  background-color: #4A9E00;
  display: block;
  height: 15rem;
  width: 100%;
  color: #ebe8e8;
}

footer p {
  text-align: right;
  margin-right: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

footer .address {
  text-align: right;
  margin-right: 3rem;
}

#footer-nav {
  list-style-type: none;
  padding-top: 2rem;
  overflow: hidden;
  background-color: transparent;
  margin-top: 3.5rem;
  text-align: center;
}

#footer-nav li {
  display: inline-block;
  margin: 0.5rem;
  position: relative;
}

#footer-nav li a {
  display: block;
  text-align: center;
  padding: 14px 13px;
  text-decoration: none;
  margin: 0 0.5rem 0;
  text-transform: uppercase;
  width: 4rem;
  color: #ebe8e8;
}

#footer-nav li a:hover {
  color: white;
}

@media screen and (max-width: 1250px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .company {
    margin: 5rem 2rem;
  }
  .company h1 {
    font-size: 1.3rem;
  }
  .company .item {
    width: 70%;
  }
  #logobig {
    margin-bottom: 5rem;
  }
  .team {
    margin: 7rem auto 9rem;
  }
  .team div {
    margin: 8rem auto;
    text-align: left;
    width: 65%;
  }
  .contact-container {
    height: 45rem;
  }
  #mailform input[type="submit"] {
    padding: 12px 5px;
    width: 40%;
  }
  .contact-item div {
    font-size: 1rem;
  }
}

@media screen and (max-width: 810px) {
  #logobig {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  a.icon {
    display: block;
    float: right;
    color: #494d4a;
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: icon;
    margin-top: 2rem;
    margin-left: 5rem;
  }
  .logo > img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .logo {
    display: block;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .logo img {
    max-width: 18rem;
    height: auto;
  }
  .navbar {
    display: none;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 2.8rem;
    top: 1.1rem;
  }
  .navbar.responsive li {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0 35%;
    background-color: #f7f7f7;
    border: 1.5px solid white;
  }
  .navbar.responsive li:hover {
    background-color: #4A9E00;
  }
  .navbar.responsive li:hover a {
    color: white;
  }
  .navbar.responsive li::after {
    content: '';
    display: none;
  }
  .navbar.responsive li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 0.5rem 0;
    text-transform: uppercase;
    width: 4rem;
    color: #494d4a;
  }
  .navbar.responsive {
    width: 100%;
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: nav;
    display: block;
    margin: 0 auto;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "logo . . icon" "nav nav nav nav";
  }
  .company {
    margin: 1.5rem 0;
  }
  .company h1 {
    font-size: 1.1rem;
  }
  .company .item {
    width: 85%;
  }
  .team {
    margin: 6rem auto 6rem;
  }
  .team div {
    margin: 6rem auto;
    width: 80%;
  }
  .service-container {
    width: 90%;
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 6rem;
  }
  .service-container .item {
    margin: 2rem 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .service-container h3 {
    font-size: 1.05rem;
  }
  #mailform input[type="submit"] {
    padding: 12px 5px;
    width: 50%;
  }
  .contact-container {
    display: -ms-grid;
    display: grid;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    height: 40rem;
  }
  .contact-item div {
    font-size: 0.8rem;
  }
  footer {
    height: auto;
  }
  footer p {
    margin-bottom: 2rem;
  }
  #footer-nav {
    padding-top: 1rem;
  }
  #footer-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  #footer-nav li a {
    padding: 7px 13px;
    margin: 0;
    width: 4rem;
    color: #ebe8e8;
  }
  #footer-nav li a:hover {
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */