.sticky {
  position: sticky;
  top: 0;
  width: 100%;    
  background-color: #4A9E00 !important;
  border-bottom: 2px solid #4A9E00;
  li {
    &::after {
      background-color: white !important;
    }
  }
  a {
    color: #ebe8e8 !important;
    &:hover {color:white !important;}
  }

  .navbar.responsive li {
    background-color:#4A9E00;
    border: 0;  
    &:hover {
      border-bottom: 1.5px solid white !important;
    } 

  }
  .navbar.responsive {
    width : 100%;  
    position: relative;
    grid-area: nav; 
    display: block;
    margin: 0 auto;    
  }
}

body, header {
  display: initial;
}

@font-face {
  font-family: KOTRA_GOTHIC; src: url('fonts/KOTRA_GOTHIC.ttf');
  font-family: Chungbuk; src: url('fonts/ChungbukRegular.ttf');
} 

body {
  font-family: 'Chungbuk', sans-serif;
  p {
   line-height: 1.5rem;
  }
}

section {
  scroll-margin-top: 10rem;
}

.logo {
  display: inline-block;
  margin-left: 3rem;
  margin-top: 2rem;
  img {
      max-width: 23rem;
    }
  }

#logobig {
  width: 100%;
  height: 35rem;
  background: url(../images/logomd.png) no-repeat center center;
  background-size: contain;
  margin-top: 7rem;
  margin-bottom: 8rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  z-index: 2;
}

.navbar {
  list-style-type: none;
  margin-right: 4rem;
  padding: 0;
  float: right;
  margin-top: 1.5rem;
    
  li {
    display: inline-block;
    margin: 0.5rem;
    position: relative;
    &::after {
      content: '';
      display: block;
      height: 3px;
      margin: .5rem auto; 
      background-color: #4A9E00;
      position: absolute;
      top : 2.5rem;
      width: 0%;     
      transition: all ease-in-out 250ms; 
    }
    &:hover::after {
      width: 100%
    }
    
    a {
      display: block;
      color: #494d4a;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      margin: 0 0.5rem 0;
      text-transform: uppercase; 
      width: 4rem;  
            
    }
    
  }
}

.icon {
  display: none; 
}

.company {
  display: flex;
  flex-direction: column;
  margin: 7rem;
  text-align: center;
    .item {
    width: 60%;
    text-align: center;
    margin: 3rem auto;
    }
    .p1 {
      p {
        margin-top: 3.5rem;
      }
    }
    .p2 {
      margin-top: 2rem;
      p {
        margin-top: 3.5rem;
      }
    }
}

.h1 {
  margin-bottom: 50px;
  position: relative;
  color: grey;
  &::after {
    content: '';
    display: block;
    height: 2px;
    margin: 1.5rem auto; 
    background-color: #4A9E00;
    position: absolute;
    top : 2.5rem;
    width: 100%;  
    transition: all ease-in-out 250ms;
  }
  &:hover {
    color:#4A9E00;
  }
  &:hover::after {
    width : 0%
  }
}

.head1 {
  margin: 5rem auto;
  position: relative;
  color: grey;
  text-align: center;
 
  &::after {
    content: '';
    display: block;
    height: 2px;
    margin: 1.5rem auto; 
    background-color: #4A9E00;
    position: absolute;
    top : 2.5rem;
    width: 100%;  
    transition: all ease-in-out 250ms;
  }
  &:hover {
    color:#4A9E00;
  }
  &:hover::after {
    width : 0%
  }
} 
.team {
  display: block;
  margin: 8rem auto 15rem;  
  div{
    margin: 8rem auto;
    text-align: left;
    width: 50%;   
  }
}

.service {
  margin-top: 15rem;
}

.service-container {
  display: grid;
  box-sizing: border-box;
  width: 70%;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 23%;
  margin-right: 25%;
  margin-bottom: 12rem;
  .item {
    margin: 2rem 0.2rem;
    display: flex;
    
    }
}
ion-icon {
  margin-top: 1rem;
  margin-right: .2rem;
  font-size: xx-large;
  flex-grow: 1;
}
.item h3 {
  flex-grow: 9;
}

.contact-container {
  display: grid;
  width: 80%;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin-left: 15%;
  margin-right: 20%;
  height: 50rem;
  scroll-margin-top: 20rem;
}
.mailicon {
  display: flex;
  div {
    flex-grow: 9;
  }
}
#mailform {
  display: flex;
  flex-direction: column;
  #name, #email, #tel, #title, textarea {
    width: 80%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=submit] {
    background-color: #4A9E00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    width: 20%;
  } 
  textarea:placeholder {
    font-family: "Chungbuk";
  }
}
.contact-item {
  display: flex;
  flex-direction: column;
  div {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    div{flex-grow: 9;}
  }
  iframe {
    width: 90%;
    height: 90%;
  }
}

footer {
  background-color: #4A9E00;
  display: block;
  height: 15rem;
  width: 100%;
  color: #ebe8e8;
  p {
    text-align: right;
    margin-right: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
  .address {
    text-align: right;
    margin-right: 3rem;
  }
}

#footer-nav {
  list-style-type: none;
  padding-top: 2rem;
  overflow: hidden;
  background-color: transparent;
  margin-top: 3.5rem;
  text-align: center;  

  li {
    display: inline-block;
    margin: 0.5rem;
    position: relative;
    a {
      display: block;
      text-align: center;
      padding: 14px 13px;
      text-decoration: none;
      margin: 0 0.5rem 0;
      text-transform: uppercase; 
      width: 4rem;     
      color: #ebe8e8 ;
      &:hover {
        color: white;
      }    
    
    }
    
  }
}

.email {
  h3 {
    line-height: 3rem;
    margin-top: 5rem;
    color:#4A9E00;
    @media screen and (max-width: 810px){
    font-size: 1rem;    
    }
  }
  .button {
    display: block;
    background-color: #4A9E00;
    text-decoration: none;
    color: white;
    padding: 15px 15px;
    width: 50%;
    height: auto;
    text-align: center;
    border-radius: 4px;
    &:hover {
      background-color: #ccc;
      color: #4A9E00;
    }
  }
}

@media screen and (max-width: 1250px){  
  .nav-container {
   flex-direction: column;
  }
  .company {
    margin: 5rem 2rem;
    h1 {
      font-size: 1.3rem;
    }
    .item {
      width: 70%;
    }
  }
  #logobig {
    margin-bottom: 5rem;
  }
  .team {
    margin: 7rem auto 9rem;  
    div{
      margin: 8rem auto;
      text-align: left;
      width: 65%;   
    }
  }

  .service-container {
    .item {
      margin: 1.5rem 0.2rem;   
      }
  }

  .contact-container {
    height: 45rem;
  }

  #mailform{
    input[type="submit"] {
      padding: 12px 5px;
      width: 40%;
    } 
  } 
  .contact-item {
    div {
      font-size: 1rem;
    }
    
  }
  section {
    scroll-margin-top: 15rem;
    &.service {
      scroll-margin-top: 18rem;
    }
    #contact{
      scroll-margin-top: 25rem;
    }
  }
}
 

@media screen and (max-width: 810px){

  section {
    scroll-margin-top: 22rem;
    &.service {
      scroll-margin-top: 25rem;
    }
    #contact{
      scroll-margin-top: 32rem;
    }
  }

  #logobig {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  a.icon {
    display: block; 
    float: right;
    color: #494d4a;
    grid-area: icon;
    margin-top: 2rem;
    margin-left: 5rem;
  }
  .logo>img {
    grid-area: logo;
    width:min-content;
  }
  .logo {
    display: block;
    margin-left: 3rem;
    margin-top: 2rem;
    img {
        max-width: 18rem;
        height: auto;
      }
    }

  .navbar {
    display: none;
  }
   .navbar.responsive .icon {
    position: absolute;
    right: 2.8rem;
    top: 1.1rem;
  }
  .navbar.responsive li {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0 35%;
    background-color: #f7f7f7;
    border: 1.5px solid white;   
    
    &:hover {
      background-color: #4A9E00;
      a {color: white;}
    }

    &::after {
      content: '';
      display: none;
       }
    
    a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      margin: 0 0.5rem 0;
      text-transform: uppercase; 
      width: 4rem;  
      color: #494d4a;
                  
    }
    
  }
  .navbar.responsive {
    width : 100%;  
    position: relative;
    grid-area: nav; 
    display: block;
    margin: 0 auto;    
  }
  .nav-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logo . . icon"
    "nav nav nav nav"
    ;
  }

  .company {
    margin: 1.5rem 0;
    h1 {
      font-size: 1.1rem;
    }
    .item {
      width: 85%;
    }
  }

  .team {
    margin: 6rem auto 6rem;  
    div{
      margin: 6rem auto;
      width: 80%;   
    }
  }

  .service-container {
    width: 90%;
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 6rem;
    .item {
      margin: 1rem 0.2rem;
      display: flex;
      
      }
     h3 {
       font-size: 1.05rem;
     }
  }

  #mailform{
    input[type="submit"] {
      padding: 12px 5px;
      width: 50%;
    } 
  } 
  .contact-container {
    display: grid;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    height: 40rem;
  }
  .contact-item {
    div {
      font-size: 0.8rem;
    }
    
  }

  footer {
    height: auto;
    p {
      margin-bottom: 2rem;
    }
  }
  
  #footer-nav {
    padding-top: 1rem;
    li {
      display: flex;
      flex-direction: column;
      margin: 0;
      a {
        padding: 7px 13px;
        margin: 0;
        width: 4rem;     
        color: #ebe8e8 ;
        &:hover {
          color: white;
        }    
      
      }
      
    }
  }
  
}   